python-dotenv
streamlit
sentence-transformers
langchain
langchain-community
langchain-huggingface
langchain-groq
langchain-text-splitters
unstructured
#unstructured-pdf
langchain-unstructured
langchain-chroma
nltk

langchain-classic
protobuf==3.20.3
opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
pdfminer.six
pi-heif
unstructured==0.12.6
unstructured-inference==0.7.16

