streamlit
python-dotenv
langchain
langchain-community
langchain-huggingface
langchain-chroma
langchain-unstructured
langchain-text-splitters
langchain-groq
nltk
langchain-classic
sentence-transformers
unstructured
unstructured-inference
pdfminer.six
pi-heif
protobuf==3.20.3
opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
torchvision
